@charset "UTF-8";
/* CSS Document */

body {
  background-image: url("images/whitebrick.jpg");
	backgrouond-repeat: no-repeat;
	background-position: center top;
	background-size:cover;
}
.rubik-bold {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.rubik-medium {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#container {
	width: 900px;
	margin: 0 auto;
}
.nav {
	height: 50px;
	background-color: black;
	padding: 10px 0px 10px 0px
}
.mission {
	width: 900px;
	height: 800 px;
	padding: 5px 15px 15px 15px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
p.mission {
	color:black;
	text-align:left;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
	
}
a:hover {
	font-size: 1.1em;
	text-decoration: none;
}

.marquee {
	width: 900px;
	height: 500 px;
	align-content: center;
}
p.boxheader{
	text-align: centr
	
}
h3{text-align: center;}
.sitemap{
	clear:both;
	width: 850px;
	height: 200px;
	background-color: black;
	color: white;
	border-radius: 15px;
	margin: 10px 10px 10px 10px;
	padding: 15px 15px 15px 15px;
	display: none;
}
footer{
	clear:both;
	text-align: center;
	color:indianred;
}